 <html>
    <head>
      <title>{% block title %}My Site{% endblock %}</title>
      {% block css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/monokai.css" />
      {% endblock %}
      {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="/static/js/tabby.js" ></script>
         <script src="/static/js/highlight.js" ></script>
        <script>
          $(document).ready(function(){
              $(".tabby").tabby();
          });
        </script>
      {% endblock %}
    </head>
    <body>

    TODO : -https://github.com/ajaxorg/ace
      <div id="header">{% block header %}{% endblock %}</div>
      <div id="messages-wrap">
        <div id="messages">
          {% for category, msg in get_flashed_messages(with_categories=true) %}
            <p class="message flash-{{ category }}">{{ msg }}</p>
          {% endfor %}
        </div>
      </div>
      <div id="content">{% block content %}{% endblock%}</div>
      <div id="footer">{% block footer %}{% endblock%}</div>
    </body>
  </html>
